*~
#*
*#
.#*
=*
.glimpse_*
autom4te.*
*.o
*.so
*.a
*.orig
*.patch
*.rej
Makefile.in
*/Makefile.in
aclocal.m4
INSTALL
config.h.in
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/missing
config/ylwrap
configure
aclocal.m4
autom4te.cache.*
.deps/
Makefile
axfr-get
axfrdns
config.h
config.log
config.status
djbdns.1
dnscache
dnscache.1
dnscached
dnsfilter
dnsfilter.1
dnsip
dnsip.1
dnsipq
dnsmx
dnsname
dnsq
dnsq.1
dnsqr
dnstrace
dnstracesort
dnstxt
etc/Makefile
etc/axfrdns.conf
etc/dnscache.conf
etc/ip/Makefile
etc/servers/Makefile
etc/tinydns.conf
pickdns
pickdns-data
randomip
rbldns
rbldns-data
stamp-h1
tcprules
tinydns
tinydns-data
tinydns-data.1
tinydns-edit
tinydns-edit.1
tinydns-get
tinydns-get.1
tinydns.1
tinydnsd
walldns
