[Unit]
Description=A DNS zone transfer server
Documentation=man:axfrdns(1)
Requires=network.target

[Service]
Restart=always
PIDFile=/var/run/axfrdns.pid
ExecStart=/usr/bin/axfrdns

[Install]
WantedBy=multi-user.target
