[Unit]
Description=A DNS zone transfer server
Documentation=man:axfrdns(1)
Requires=syslog.target network.target
After=syslog.target

[Service]
Restart=always
PIDFile=/var/run/axfrdns.pid
ExecStart=/usr/bin/axfrdns
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
