[Unit]
Description=An iterative DNS resolver daemon.
After=syslog.target

[Service]
Type=forking
Restart=always
PIDFile=/var/run/dnscache.pid
ExecStart=/usr/bin/dnscache -d3 -D

[Install]
WantedBy=multi-user.target
