[Unit]
Description=A Real time Block List DNS server
Documentation=man:rbldns(1)
Requires=network.target

[Service]
Restart=always
PIDFile=/var/run/rbldns.pid
ExecStart=/usr/bin/rbldns

[Install]
WantedBy=multi-user.target
