[Unit]
Description=A Real time Block List DNS server
Documentation=man:rbldns(1)
Requires=syslog.target network.target
After=syslog.target

[Service]
Restart=always
PIDFile=/var/run/rbldns.pid
ExecStart=/usr/bin/rbldns
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
