[Unit]
Description=A DNS server daemon
Documentation=man:tinydns(1)
Requires=network.target

[Service]
Restart=always
PIDFile=/var/run/tinydns.pid
ExecStart=/usr/bin/tinydns

[Install]
WantedBy=multi-user.target
