[Unit]
Description=A DNS server daemon.
After=syslog.target

[Service]
Type=forking
Restart=always
PIDFile=/var/run/tinydns.pid
ExecStart=/usr/bin/tinydns -d3 -D

[Install]
WantedBy=multi-user.target
