[Unit]
Description=An iterative DNS resolver daemon
Documentation=man:dnscache(1)
Requires=network.target

[Service]
Restart=always
PIDFile=/var/run/dnscache.pid
ExecStart=/usr/bin/dnscache

[Install]
WantedBy=multi-user.target
